*
{
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.right
{
    display: flex;
    gap: 20px;
}

h1
{
    font-size: 400%;
}

input[type=text]
{
    background-color: #0B61F4;
    border: 2px solid #F8F3E8;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    color: #F8F3E8;
    padding-left: 10px;
    padding-right: 10px;
}

input[type=text]:focus
{
    outline: none;
}

textarea
{
    background-color: #0B61F4;
    border: 2px solid #F8F3E8;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    color: white;
    padding: 10px;
    resize: none;
}

textarea:focus
{
    outline: none;
}

button
{
    background-color: #F8F3E8;
    border: 2px solid #F8F3E8;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: #0B61F4;
    transition: 0.3s;
}

button:hover
{
    background-color: #0B61F4;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: #F8F3E8;
    cursor: pointer;
}

a
{
    color: #F8F3E8;
    text-decoration: none; 
}

a:hover
{
    text-decoration: underline;
}

#consultation-form {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.3s ease;
}

#consultation-form.open {
max-height: 1000px; /* large enough to fit content */
padding-top: 10px;
}

#header
{
    color: #F8F3E8;
    padding: 10px;
    background-color: #0B61F4;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo
{
    color: #F8F3E8;
    padding: 50px;
    background-color: #0B61F4;

    height: 100%;

    text-align: center;

    display: grid;
    place-items: center;
}

#body0
{
    color: #0B61F4;
    background-color: #F8F3E8;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 300px;
    padding-right: 300px;
}

#features
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#body1
{
    color: #F8F3E8;
    background-color: #0B61F4;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 300px;
    padding-right: 300px;
}

#footer
{
    color: #F8F3E8;
    padding: 10px;
    background-color: #0B61F4;
    text-align: center;
}