:root {
    --colour-primary: #F8F3E8;
}

* {
	margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
	height: 100%;
}

body {
	background-image: var(--background-image);
    background-size: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	overflow-y: scroll; /* Show vertical scrollbar */

    font-family: "Montserrat", sans-serif;
	color: var(--colour-secondary);
	background-color: var(--colour-primary);
    display: flex;
    flex-direction: column;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 10px;
	font-size: 40px;
}

.list
{
	padding-left: 0px;
	list-style-position: inside;
	transition: padding-left 0.25s;
	list-style-type: "► ";
}

.list:hover
{
	padding-left: 20px;
}

.right
{
    display: flex;
    gap: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}

a, p, ul, ol, span, input, textarea, button {
	font-size: 20px;
}

p, ul, ol {
    margin-bottom: 1em;
}

header {
	background-color: transparent
}

footer {
	color: var(--colour-primary);
	background-color: var(--colour-secondary);
}

header a {
	color: var(--colour-primary);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

details {
	color: var(--colour-primary);
	background-color: var(--colour-secondary);
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

article {
	background-color: var(--colour-primary);
	margin-left: auto;
	margin-right: auto;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 40px;
	padding-bottom: 40px;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	background-color: transparent;
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

#hero-title {
	font-size: 80px;
	margin-bottom: 10px;
}

#logo
{
	padding: 20px;

    color: var(--colour-primary);

    text-align: center;

    display: grid;
    place-items: center;

    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.384);
}

#form {
    background-color: var(--colour-primary);
	color: var(--colour-secondary);
    padding: 10px;
    border-radius: 10px;
    width: 600px;
}

@media only screen and (max-width: 600px) {
    #form {
        width: 100%;
    }

    article {
        padding-left: 5%;
        padding-right: 5%;
    }
}

#toggle-form
{
    text-shadow: none;
    cursor: pointer;
}

#consultation-form
{
    max-height: 0;
    overflow: hidden;
    transition: width 0.5s ease, padding 0.3s ease;
    transition: max-height 0.5s ease, padding 0.3s ease;
}

#consultation-form.open
{
    max-height: 1000px; /* large enough to fit content */
    padding-top: 10px;
}

input
{
    background-color: var(--colour-primary);
    border: 2px solid var(--colour-secondary);
    border-radius: 10px;
    width: 80%;
    color: var(--colour-secondary);
    padding: 10px;
}

input:focus
{
    outline: none;
}

::placeholder
{
    color: var(--colour-secondary);
    opacity: 0.5;
}

textarea
{
    background-color: var(--colour-primary);
    border: 2px solid var(--colour-secondary);
    border-radius: 10px;
    width: 80%;
    height: 200px;
    color: var(--colour-secondary);
    padding: 10px;
    resize: none;
}

textarea:focus
{
    outline: none;
}

button
{
    background-color: var(--colour-secondary);
    border: 2px solid var(--colour-secondary);
    border-radius: 10px;
    color:  var(--colour-primary);
    transition: 0.3s;
    padding: 10px;
}

button:hover
{
    background-color: var(--colour-primary);
    color: var(--colour-secondary);
    cursor: pointer;
}

footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px; /* or whatever height you prefer */
}

footer p {
    margin: 0;
}