<b>
<header id="header">
    <a href="{{ "/" | relURL }}" {{ if and (and .File (eq .File.TranslationBaseName "_index")) (not (or (eq .Section "tutors") (eq .Section "blog"))) }}style="text-decoration: underline"{{ end }}>{{ .Site.Title }}</a>

    <!--
    {{ if not (or (and (and .File (eq .File.TranslationBaseName "_index")) (not (or (eq .Section "tutors") (eq .Section "blog")))) (and (and .File (eq .File.TranslationBaseName "_index")) (eq .Section "tutors")) (and .File (eq .File.TranslationBaseName "about")) (and (and .File (eq .File.TranslationBaseName "_index")) (eq .Section "blog"))) }}
        <span>{{ .Title }}</span>
    {{ end }}
    -->

    <div class="right">
        <a href="{{ "tutors/" | relURL }}" {{ if eq .Section "tutors" }}style="text-decoration: underline"{{ end }}>
        Tutors
        </a>
        <!--
        <div style="color: #F8F3E8">·</div>
        <a href="{{ "about/" | relURL }}" {{ if and .File (eq .File.TranslationBaseName "about") }}style="text-decoration: underline"{{ end }}>
        About
        </a>
        -->
        <a href="{{ "blog/" | relURL }}" {{ if eq .Section "blog" }}style="text-decoration: underline"{{ end }}>
        Blogs
        </a>
    </div>
</header>
</b>