<div id="hero">
    <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" style="width:150x;height:150px; border-radius: 1000px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.384);"><br>
    <h1>{{ .Title }} Tutoring</h1>
    <h2>{{ .Params.Subject }} at {{ .Params.Level }}</h2>
    <div id="form">
        <p id = "toggle-form"><b>Request a FREE consultation ▼</b></p>
        <div id="consultation-form">
            <p  id="form-label">Your name:</p>
            <input type="text" placeholder="How should I call you?"></input>
            <p  id="form-label">Email:</p>
            <input type="text" placeholder="yourname@email.com"></input>
            <p  id="form-label">Phone:</p>
            <input type="text" placeholder="+XX XXXX XXXXXX"></input>
            <p  id="form-label">Message:</p>
            <textarea placeholder="Please briefly detail your child’s school year, subjects / topics they need help with, exam board, preferred times, etc."></textarea>
            <br>
            <button style="margin-top: 10px;">Submit</button>
        </div>
    </div>
</div>