<div id="logo">
    {{ if and (eq .Section "tutors") (ne .Kind "section") }}
    <a href="#"><img src="{{ .Params.image }}" alt="{{ .Title }}" style="width: 200px; height: 200px; border-radius: 1000px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.384);"><br></a>
    {{ end }}
    
    <h1 id="hero-title">{{ .Title }}</h1>

    {{ if and (eq .Section "tutors") (ne .Kind "section") }}
    <h2>{{ .Params.Subject}} at {{ .Params.Level}}</h2>
    {{ end }}
    
    <div id="form">
        <span id = "toggle-form"><b>Request a FREE consultation ▼</b></span>
        <form id="consultation-form" name="contact" method="POST" data-netlify="true">
            <p></p>
            <p id="form-label">Your name:</p>
            <input name="name" type="text" placeholder="How should I call you?"></input>
            <p></p>
            <p  id="form-label">Email:</p>
            <input name="email" type="text" placeholder="yourname@email.com"></input>
            <p></p>
            <p  id="form-label">Phone:</p>
            <input name="phone" type="text" placeholder="+XX XXXX XXXXXX"></input>
            <p></p>
            <p  id="form-label">Message:</p>
            <textarea name="message" placeholder="Please briefly detail your child's school year, subjects / topics they need help with, exam board, preferred times, etc."></textarea>
            <br>
            <button style="margin-top: 10px;">Submit</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggle = document.getElementById("toggle-form");
        const form = document.getElementById("consultation-form");

        toggle.addEventListener("click", function () {
            form.classList.toggle("open");
                toggle.classList.toggle("disabled", form.classList.contains("open"));
            });
    });
</script>